.comment {
  padding: 10px 20px 0;
}

.comment__id {
  display: block;
  color: #666;
}

.comment__name {
  margin-right: 20px;
  color: #009879;
}

.comment__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__email {
  color: #666;
  font-size: 18px;
}

.comment__text {
  color: #333;
  font-size: 22px;
}

.comment__btn-back {
  display: block;
  margin-top: 20px;
  color: #00bb96;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 640px) {
  .comment__btn-back {
    margin-top: 10px;
    font-size: 3vw;
  }

  .comment__id {
    font-size: 3vw;
  }

  .comment__name {
    font-size: 4.5vw;
  }

  .comment__email {
    font-size: 3.5vw;
  }

  .comment__info {
    flex-wrap: wrap;
  }

  .comment__text {
    font-size: 3.5vw;
  }
}
